@using Santa.Models
@model Orders

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string[] status =
    {
        "In progress",
        "Ready to be send",
        "Done"
    };
}

<div class="row">
    <h2 class="col-sm-9">Orders</h2>
    <div class="col-xs-4 col-sm-1">
        <a href="@Url.Action("Refresh", "Orders")" class="btn btn-default" style="margin: 20px 0 10px 0" title="Refresh"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="@Url.Action("PrepareAll", "Orders")" class="btn btn-success" style="margin: 20px 0 10px 0" title="Prepare All The Possible Orders"><i class="fa fa-cubes" aria-hidden="true"></i></a>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a href="@Url.Action("SendAll", "Orders")" class="btn btn-primary" style="margin: 20px 0 10px 0" title="Send All The Possible Orders"><i class="fa fa-send" aria-hidden="true"></i></a>
    </div>
</div>

<table class="table">
    <tr>
        <th>Kid</th>
        <th>Toys</th>
        <th>Request Date</th>
        <th>Status</th>
        <th></th>
    </tr>

@foreach (var item in Model.EntityList) {
    <tr>
        <td>@item.Kid</td>
        <td>@item.ToysToString()</td>
        <td>@item.RequestDate.ToString("dd/MM/yyyy")</td>
        <td>@status[item.Status.GetHashCode()]</td>
        <td>
            <div class="btn-group" role="group">
                @if (!Convert.ToBoolean(Session["Admin"]))
                {
                    if (item.Status == Santa.Classes.OrderStatus.InProgress)
                    {
                        if (item.IsPreparable)
                        {
                            <a type="button" class="btn btn-success btn-xs" href="@Url.Action("Prepare", "Orders", new { item.ID })" data-toggle="tooltip" title="Prepare"><i class="fa fa-cube"></i></a>
                        }
                        else
                        {
                            <a type="button" class="btn btn-success btn-xs disabled" href="@Url.Action("Prepare", "Orders", new { item.ID })" data-toggle="tooltip" title="Prepare" style="pointer-events: none; cursor: default;"><i class="fa fa-cube"></i></a>
                        }
                    }
                    else if (item.Status == Santa.Classes.OrderStatus.ReadyToBeSend)
                    {
                        <a type="button" class="btn btn-primary btn-xs" href="@Url.Action("Send", "Orders", new { item.ID })" data-toggle="tooltip" title="Send"><i class="fa fa-send"></i></a>
                    }
                }
                <a type="button" class="btn btn-info btn-xs" href="@Url.Action("Details", "Orders", new { item.ID })" data-toggle="tooltip" title="Details"><i class="fa fa-eye"></i></a>
            </div>
        </td>
    </tr>
}
</table>

