@model Santa.Models.Statistics

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1 class="text-center">SANTA'S MANAGER</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Orders", "Index", "Orders")
            </div>
            <div class="panel-body">
                <p>Request: @Model.OrdersRequest</p>
                <p>Ready to be send: @Model.OrdersReady</p>
                <p>Shipped: @Model.OrderShipped</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Warehouse", "Index", "Warehouse")
            </div>
            <div class="panel-body">
                <p># Toys: @Model.WarehouseToys</p>
                <p># Finished Toys: @Model.FinishedToys</p>
            </div>
        </div>
    </div>
</div>